{% extends 'base.html' %}
{% block title %}
  registrazione
{% endblock %}

{% block content %}
    <br>
    <div class="d-flex justify-content-center">
      <h1>REGISTRAZIONE UTENZA</h1>
    </div>
    <br>
    <div class="d-flex justify-content-center">
      <form method="POST">
          {{ form.hidden_tag() }}
          <div class="form-group">
              {{ form.matricola.label(class="d-flex justify-content-center") }}
              {{ form.matricola(class="form-control") }}
          </div>
          <div class="form-group">
              {{ form.password.label(class="d-flex justify-content-center") }}
              {{ form.password(class="form-control") }}
          </div>
          <br>

              {{ form.submit(class="btn btn-lg btn-block btn-primary") }}

      </form>
    </div>
{% endblock %}
